.navbar .navbar-brand{
	color: #B73126;
	font-weight: 900;
	font-size: 4em;
	margin-bottom: 5px;
}

.navbar a{
	margin-top: 5px;
}

form, #addButton{
	display: inline;
	vertical-align: top;
}
	#searchBar, #searchButton{
		/*margin-top: 22px;*/
		border-radius: 5px;
	}

	#addButton{
		float: right;
	}

.table-bordered>tbody>tr>td{
	vertical-align: middle;
}

.pagination{
	margin: auto;
}

.row{
	margin-bottom: 25px;
}

.modal-body input, .form-control{
	width: 260px;
	margin-bottom: 5px;
}

p{
	margin-top: 5px;
}	

textarea{
	width: 260px;
	height: 100px;
}

.error{
	color: red;
}

img{
	width: 50px;
	height: 50px;
}
