.navbar-default	.navbar-brand{
	color: #B73126;
	font-weight: 900;
	font-size: 4em;
	margin-bottom: 5px;
}

/*.row1{
	display: inline-block;
	margin: 50px;
}*/

#pokedex{
	height: 450px;
	width: 450px;
	/*background-image: url(/assets/pokedex1.gif);*/
	/*background-repeat: no-repeat;*/
	margin-left: 25px;
	/*border: 1px solid blue;*/
}

/*#pokedex img{
	height: 180px;
	width: 265px;
	margin: 148px 0px 0px 52px;
}*/

img, #text{
	display: inline-block;
	vertical-align: top;
}

#text{
	background-image: url(http://cdn2.bigcommerce.com/server5700/0a27b/products/53588/images/65411/white1__08112.1416534061.386.513.png?c=2);
	/*border: 1px solid black;*/
	padding: 15px;
	width: 400px;
	height: 400px;
	font-size: 1.1em;
}

.form-control, .btn{
	display: inline;
	/*vertical-align: top;*/
}

.form-control{
	width: 150px;
}

.similar img{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 15px;
	width: 150px;
	height: 150px;
	background-image: url(/uploads/scr.jpg);

}

.similar{
	/*width: 200px;
	height: 175px;*/
	display: inline-block;
	text-align: center;
	font-weight: 900;
	margin-right: 20px;


}
